<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="RtspUrl" value="rtsp://192.168.0.101/user=admin_password=tlJwpbo6_channel=1_stream=0.sdp?real_stream" />-->
		<add key="RtspUrl" value="rtsp://admin:Parkevleri@192.168.0.52:554/cam/realmonitor?channel=1&amp;subtype=0" />
	</appSettings>
</configuration>
